*.DS_Store
**/.DS_Store
EXAMPLE*
__pycache__
__pycache__/**
**/save_*
**/~0*
wget-log
.vscode
.vscode/**
build
build/**
repo
repo/**
build-dir
build-dir/**
.flatpak-builder
.flatpak-builder/**
dist
dist/**
yamale
yamale/**
